@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.article-page {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    position: relative;

    .article-crumbs {
      margin-bottom: 60px;
      font-size: 16px;
      color: $blue-text-color;
      font-family: Montserrat-500, sans-serif;


      a, span {
        font-family: Montserrat-400, sans-serif;
        color: $footer-bg-color;
        text-decoration: none;

      }
    }

    .article-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .wrap {
        max-width: 607px;

        .article-title {
          color: $blue-text-color;
          @include head-lora-38;
          line-height: 130%;
          margin-bottom: 40px;
        }

        .article-description {
          color: $blue-text-color;
          font-family: Montserrat-400, sans-serif;
          font-size: 20px;
          line-height: 130%;
        }
      }

      .article-image {
        float: right;
        border-radius: 5px;
        max-width: 527px;
        height: 320px;
        background-position: center;
        background-size: cover;
        margin-left: 106px;
        margin-bottom: 60px;
      }
    }

    .article-body {
      display: flex;
      justify-content: space-between;

      .article-text {
        max-width: 818px;

        p {
          color: $main-text-color;
          font-family: Montserrat-400, sans-serif;
          font-size: 14px;
          line-height: 130%;
        }
      }

      .recommended-articles {
        /* position: absolute;
         right: 0;
         top: 450px;*/

        .recommended-title {
          color: $blue-text-color;
          font-family: Lora-400, sans-serif;
          font-size: 26px;
          margin-bottom: 20px;
        }

      }
    }


    .share-article {
      margin-top: 60px;
      margin-bottom: 60px;
      display: flex;


      .share-title {
        color: $blue-text-color;
        font-family: Montserrat-500, sans-serif;
        font-size: 14px;

      }

      .share-social-icons {
        margin-left: 20px;

        a {
          margin-left: 13px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .articles-comments {


      .article-comments-title {
        @include head-lora-38;
      }

      .article-comments-login {
        color: $main-text-color;
        font-family: Montserrat-400, sans-serif;
        font-size: 14px;
        margin-bottom: 60px;
        margin-top: 20px;

        a {
          color: $blue-text-color;
          text-decoration: none;
        }
      }

      .article-first-comment-text {
        color: $main-text-color;
        font-family: Montserrat-400, sans-serif;
        font-size: 14px;
        margin-top: 20px;
      }

      .article-comments-text-area {
        margin-bottom: 20px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        textarea {
          resize: none;
          width: 818px;
          height: 248px;
          padding: 20px 64px 20px 20px;
          border-radius: 3px;
          border: 1.5px solid #709FDC;
          box-sizing: border-box;
          font-family: Montserrat-400, sans-serif;
          font-size: 14px;

          &::placeholder {
            color: #A8ABA7;
            line-height: 130%;
          }

          &:focus {
            outline: none !important;
          }
        }

        .comment-btn {
          margin-top: 20px;
          width: 422px;
          padding: 15px 40px;
          align-items: center;
          font-family: Montserrat-400, sans-serif;
          font-size: 16px;
          margin-bottom: 60px;
        }
      }

      .comments-items {

        .comment-item {
          max-width: 854px;
          margin-bottom: 40px;

          .comment-item-user {
            display: flex;
            margin-bottom: 15px;

            .item-user-avatar {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 2px solid #4787DBFF;
              box-sizing: border-box;
              background-color: #B9D5FD;
              position: relative;

              img {
                position: absolute;
                top: 4px;
                left: 7px;
              }
            }

            .item-user-info {
              margin-left: 26px;

              .user-info-name {
                color: #709FDC;
                font-family: Montserrat-600, sans-serif;
                font-size: 18px;
                margin-bottom: 10px;

              }

              .user-info-date {
                color: #BEBEBE;
                font-family: Montserrat-600, sans-serif;
                font-size: 14px;

              }
            }

          }

          .comment-item-text {
            color: $main-text-color;
            font-family: Montserrat-400, sans-serif;
            font-size: 14px;
            line-height: 140%;
          }

          .comment-reactions {
            margin-top: 39px;
            display: flex;

            .like, .dislike, .spam {
              display: flex;
              align-items: flex-end;

              svg {
                cursor: pointer;
              }

              span {
                margin-right: 3px;
              }
            }

            .like {
              margin-right: 15px;
            }

            .dislike {
              margin-right: 15px;
            }
          }
        }

        .more-comments {
          margin-top: 60px;
          display: flex;
          align-items: center;
          color: $blue-text-color;
          font-family: Montserrat-500, sans-serif;
          font-size: 20px;
          cursor: pointer;

          svg {
            margin-left: 10px;
          }

        }
      }
    }
  }
}


