@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.article-page {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {

    .article-image {
      border-radius: 5px;
      max-width: 527px;
      height: 320px;
      background-position: center;
      background-size: cover;
    }
  }
}
