@import "../../../../assets/styles/variables";

.article {
  position: relative;
  width: 292px;
  height: 580px;
  font-family: Montserrat-400, sans-serif;
  padding-bottom: 60px;

  .article-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 5px;
    border-color: transparent;
    box-sizing: border-box;
    background: #FFF;
    padding: 10px 18px;

    color: #709FDC;
    text-align: center;
    font-size: 11px;
  }

  .article-image {
    width: 291px;
    height: 291px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
  }

  .article-title {
    color: $blue-text-color;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .article-description {
    color: #071739;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .article-action {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $blue-text-color;
    font-size: 16px;
    text-decoration-line: underline;
  }
}
