@import "../../../../assets/styles/auth-form";


.login {
  padding-top: 100px;
  padding-bottom: 92px;

  .container {
    display: flex;

    .login-image {
      margin-left: 185px;

      img {
        vertical-align: bottom;
      }

    }
  }
}
