@font-face {
  src: url("../fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat-500";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-family: "Montserrat-600";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat-700";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat-400";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Montserrat-LightItalic.ttf");
  font-family: "Montserrat-300";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Lora-Regular.woff");
  font-family: "Lora-400";
  font-weight: 400;
}
